<div class="auth-container fade-in">
  <div class="auth-card shadow-lg">
    <div class="auth-header">
      <h1>Crea tu cuenta</h1>
      <p class="text-muted">Únete a nuestra comunidad</p>
    </div>

    <form class="auth-form" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-wrapper smooth-transition">
          <lucide-icon name="mail" class="input-icon"></lucide-icon>
          <input type="email" id="email" placeholder="tu@email.com" [formField]="registerForm.email" />
        </div>
        @if (registerForm.email().invalid() && registerForm.email().touched()) {
        <ul class="validation-error-list">
          @for (error of registerForm.email().errors(); track error) {
          <li class="validation-error">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="input-wrapper smooth-transition">
          <lucide-icon name="lock" class="input-icon"></lucide-icon>
          <input type="password" id="password" placeholder="••••••••" [formField]="registerForm.password" />
        </div>
        @if (registerForm.password().invalid() && registerForm.password().touched()) {
        <ul class="validation-error-list">
          @for (error of registerForm.password().errors(); track error) {
          <li class="validation-error">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <div class="form-group">
        <label for="password-confirmation">Confirmar contraseña</label>
        <div class="input-wrapper smooth-transition">
          <lucide-icon name="lock" class="input-icon"></lucide-icon>
          <input type="password" id="password-confirmation" placeholder="••••••••"
            [formField]="registerForm.password_confirmation" />
        </div>
        @if (registerForm.password().errors() && registerForm.password().touched()) {
        <ul class="validation-error-list">
          @for (error of registerForm.password_confirmation().errors(); track error) {
          <li class="validation-error">{{ error.message }}</li>
          }
        </ul>
        }
      </div>

      <button type="button" class="btn btn-primary btn-block smooth-transition" (click)="handleAuth()">
        <span>Registrar</span>
      </button>
    </form>

    <div class="auth-divider">
      <span>o continúa con</span>
    </div>

    <!-- Autenticación con Google (OAuth) -->
    <button class="btn btn-outline btn-block smooth-transition">
      <lucide-icon name="sparkles" class="icon-sm icon-orange"></lucide-icon>
      <span>Continuar con Google</span>
    </button>

    <footer class="auth-footer">
      <p>
        ¿Ya tienes cuenta?
        <button class="btn-link smooth-transition" routerLink="/auth/signIn">Inicia sesión</button>
      </p>
    </footer>
  </div>
</div>
