<div class="country-card smooth-transition">
  @if (countryData(); as countryData) {
  <div class="flag-container">
    @if (imgPriority()) {
    <img [ngSrc]="countryData.flags.svg" [alt]="countryData.flags.alt" class="flag-image" fill [priority]="true">
    }@else {
    <img [ngSrc]="countryData.flags.svg" [alt]="countryData.flags.alt" class="flag-image" fill [priority]="false">
    }
  </div>
  <div class="card-content">
    <div class="card-header flex-align-center">
      <h2 class="card-title">{{countryData.translations.spa.common}}</h2>
      <div class="rating-badge flex-align-center">
        <lucide-icon name="star" class="star-icon"></lucide-icon>
        <span> {{rating()}} </span>
      </div>
    </div>
    <div class="card-meta flex-align-center">
      <lucide-icon name="map-pin" class="meta-icon"></lucide-icon>
      <span> {{countryData.region}} </span>
    </div>
  </div>
  }
</div>
