<div class="country-card smooth-transition">
  <div class="flag-container">
    <!-- Imagen bandera -->
  </div>
  <div class="card-content">
    <div class="card-header flex-align-center">
      <h2 class="card-title">{{countryData()?.name?.common}}</h2>
      <div class="rating-badge flex-align-center">
        <lucide-icon name="star" class="star-icon"></lucide-icon>
        <span> 3.2 </span>
      </div>
    </div>
    <div class="card-meta flex-align-center">
      <lucide-icon name="map-pin" class="meta-icon"></lucide-icon>
      <span> {{countryData()?.region}} </span>
    </div>
  </div>
</div>
