<div class="header-content container">

  <div class="logo" routerLink="/">
    <lucide-icon name="globe" class="icon-primary"></lucide-icon>
    <span class="site-title">Los Países</span>
  </div>


  <nav>
    <a routerLink="/countries" routerLinkActive="active" class="nav-link">
      <lucide-icon name="home" class="icon-primary"></lucide-icon>
      <span>Explorar</span>
    </a>
  </nav>

  <div class="perfil">
    Perfil
  </div>

  <div class="logout">
    <a><lucide-icon name="log-out" class="icon-primary"></lucide-icon></a>
  </div>
</div>