<header class="header-content container-fluid" role="banner">

  <a class="logo flex-align-center" routerLink="/" aria-label="Volver al inicio">
    <!-- <lucide-icon name="globe" class="icon-primary icon-lg" aria-hidden="true"></lucide-icon> -->
    <img src="assets/brand-logo.webp" alt="Logo Los Países" width="40" height="40">
    <span class="site-title">Los Países</span>
  </a>

  @if (isOpen()) {
  <!-- Overlay borroso -->
  <div class="menu-overlay" (click)="toggleMenu()" role="presentation">
  </div>

  <nav id="mobile-nav-id" class="navbar mobile-nav" role="dialog" aria-modal="true"
    aria-label="Menú de navegación móvil" animate.enter="enter-animation" animate.leave="leaving" cdkTrapFocus
    cdkTrapFocusAutoCapture (cdkTrapFocusRestoreFocus)="true">
    <div class="mobile-nav-header">
      <div class="logo flex-align-center">
        <img src="assets/brand-logo.webp" alt="Logo Los Países" width="40" height="40">
      </div>
      <button class="close-icon" (click)="toggleMenu()" aria-label="Cerrar menú">
        <lucide-icon name="x" class="icon-sm" aria-hidden="true">
        </lucide-icon>
      </button>
    </div>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
      (click)="toggleMenu()">
      <lucide-icon name="home" class="icon-primary icon-md" aria-hidden="true"></lucide-icon>
      <span>Inicio</span>
    </a>
    <a routerLink="/countries" routerLinkActive="active" class="nav-link" (click)="toggleMenu()">
      <lucide-icon name="binoculars" class="icon-primary icon-md" aria-hidden="true"></lucide-icon>
      <span>Explorar</span>
    </a>
  </nav>
  }

  <nav class="navbar desktop-nav" [attr.aria-hidden]="isOpen()" aria-label="Navegación principal">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
      <lucide-icon name="home" class="icon-primary icon-md" aria-hidden="true"></lucide-icon>
      <span>Inicio</span>
    </a>
    <a routerLink="/countries" routerLinkActive="active" class="nav-link">
      <lucide-icon name="binoculars" class="icon-primary icon-md" aria-hidden="true"></lucide-icon>
      <span>Explorar</span>
    </a>
  </nav>

  <div class="user-menu">
    <button class="btn-perfil" aria-label="Ver perfil de usuario">
      Perfil
    </button>

    <button class="btn-logout" title="Cerrar sesión" aria-label="Cerrar sesión">
      <lucide-icon name="log-out" class="icon-md" aria-hidden="true"></lucide-icon>
    </button>
  </div>

  <!-- Botón hamburguesa -->
  <button class="menu-button" (click)="toggleMenu()" aria-label="Abrir menú" [attr.aria-expanded]="isOpen()"
    aria-controls="mobile-nav-id">
    <lucide-icon name="menu" class="icon-md" aria-hidden="true">
    </lucide-icon>
  </button>

</header>