<div class="user-menu-container">
  <button class="avatar-btn" (click)="toggleMenu()" [attr.aria-expanded]="isOpen()">
    <img [src]="user().avatar" alt="User avatar" class="avatar-img" />
    <lucide-icon name="chevron-down" class="chevron" [class.rotated]="isOpen()"></lucide-icon>
  </button>

  @if (isOpen()) {
  <div class="dropdown-card" animate.enter="pop-in" animate.leave="pop-out" cdkTrapFocus
    (cdkTrapFocusAutoCapture)="true">
    <div class="user-info">
      <img [src]="user().avatar" alt="" class="avatar-large" />
      <div class="details">
        <span class="name">{{ user().name }}</span>
        <span class="email">{{ user().email }}</span>
      </div>
    </div>

    <hr class="divider" />

    <nav class="menu-links">
      <a routerLink="/profile" (click)="isOpen.set(false)">
        <lucide-icon name="user-pen"></lucide-icon>
        Mi Perfil
      </a>

      <button class="sign-out-btn" (click)="signOut()">
        <lucide-icon name="log-out"></lucide-icon>
        Cerrar sesión
      </button>
    </nav>
  </div>

  <div class="close-overlay" (click)="toggleMenu()"></div>
  }
</div>
