<div class="detail-container">
  <div class="detail-hero">
    @if (country(); as countryData) {
    <div class="hero-bg-wrapper">
      <img [ngSrc]="countryData.flags.svg" priority fill class="hero-bg-image" [alt]="countryData.flags.alt" />
      <div class="hero-overlay"></div>
    </div>

    <div class="container hero-content">
      <button class="btn btn-outline btn-back flex-align-center smooth-transition" routerLink="/countries">
        <lucide-icon name="arrow-left" class="icon-sm"></lucide-icon>
        <span>Volver</span>
      </button>
      <div class="hero-info">
        <h1>{{ countryData.translations.spa.common }}</h1>
        <div class="hero-stats flex-align-center">
          <div class="rating-badge-lg flex-align-center shadow-md">
            <lucide-icon name="star" class="star-icon"></lucide-icon>
            <span>{{ countryStats()?.total_reviews ? countryStats()?.avg_rating?.toFixed(1) : 'N/A' }}</span>
          </div>
          <span class="reviews-count">{{ countryStats()?.total_reviews }} valoraciones</span>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="container main-content">
    <div class="info-grid">
      @for (item of getInfoItems(); track item.label) {
      <div class="info-card smooth-transition">
        <div class="icon-wrapper flex-align-center">
          <lucide-icon [name]="item.icon" class="info-icon"></lucide-icon>
        </div>
        <div class="info-details">
          <label>{{ item.label }}</label>
          <span>{{ item.value }}</span>
        </div>
      </div>
      }
      <div class="map info-card">
        <div class="info-details">
          <label>Mapa</label>
        </div>
        @if (mapUrl) {
        <iframe [src]="mapUrl" width="300" height="200" style="border: 0" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        }
      </div>
    </div>

    @if (country()) {
    <app-reviews-section [country]="country()" (onReviewPosted)="updateCountryStats()"></app-reviews-section>
    }
  </div>
</div>
