<div class="profile-container fade-in">
  <div class="container">
    <header class="profile-header">
      <h1>Mi Perfil</h1>
      <p class="text-muted">Gestiona tu información personal y presencia en la comunidad.</p>
    </header>

    <div class="profile-layout">
      <aside class="profile-sidebar">
        <div class="card avatar-card shadow-sm">
          <div class="avatar-section">
            <div class="avatar-container avatar-lg shadow-md">
              @if (user()) {
              <img [src]="user()?.profile?.avatar_url" alt="Avatar" />
              }
            </div>

            <div class="user-info">
              @if (user()) {
              <h2> {{ user()?.profile?.username }} </h2>
              <span class="email-badge">{{user()?.email}}</span>
              }
            </div>

            <label for="avatar-upload" class="btn btn-outline btn-sm avatar-action smooth-transition">
              <lucide-icon name="upload" class="icon-xs"></lucide-icon>
              <span>Cambiar foto</span>
              <input type="file" id="avatar-upload" accept="image/*" class="hidden" />
              <!-- TODO - (change)= funcionUploadAvatar -->
            </label>
          </div>
        </div>
      </aside>

      <!-- Settings -->
      <div class="profile-main">
        <div class="card settings-card shadow-sm">
          <div class="card-header">
            <lucide-icon name="user" class="icon-primary"></lucide-icon>
            <h3>Información Personal</h3>
          </div>

          <div class="settings-form">
            <div class="form-group">
              <label for="username">Nombre de usuario</label>
              <div class="input-wrapper smooth-transition">
                <lucide-icon name="users" class="input-icon"></lucide-icon>
                <input type="text" id="username" placeholder="Tu nombre público"
                  [formField]="profileInfoForm.username" />
              </div>
              <p class="input-hint">
                Este es el nombre que verán otros viajeros en tus reseñas.
              </p>
              @if (profileInfoForm.username().invalid() && profileInfoForm.username().touched()) {
              <ul class="validation-error-list">
                @for (error of profileInfoForm.username().errors(); track error.kind) {
                <li class="validation-error">{{ error.message }}</li>
                }
              </ul>
              }
            </div>

            <div class="form-actions">
              <button class="btn btn-primary flex-align-center smooth-transition" (click)="updateProfile()">
                <lucide-icon name="save" class="icon-sm"></lucide-icon>
                <span>Guardar cambios</span>
              </button>
            </div>
          </div>

          <div class="card-header">
            <lucide-icon name="settings" class="icon-primary"></lucide-icon>
            <h3>Gestión de cuenta</h3>
          </div>

          <div class="settings-form">
            <div class="form-actions">
              <button class="btn btn-danger flex-align-center smooth-transition" (click)="showModal.set(true)">
                <lucide-icon name="trash-2" class="icon-sm"></lucide-icon>
                <span>Eliminar mi cuenta</span>
              </button>
            </div>
          </div>
          @if (showModal()) {
          <app-confirm-delete-modal [targetName]="user()?.profile?.username!" (onConfirm)="deleteAccount()"
            (onCancel)="showModal.set(false)" cdkTrapFocus (cdkTrapFocusAutoCapture)="true" />
          }


        </div>
      </div>
    </div>
  </div>
</div>
