<div class="countries-container">
  <div class="countries-hero">
    HERO Y FILTROS
  </div>

  <div class="container countries-grid">
    <div class="responsive-grid">
      @if (isLoading()) {
      @for (item of skeletonCount; track $index) {
      <app-country-card-skeleton></app-country-card-skeleton>
      }
      }@else {
      @for (country of countries(); track $index ) {
      <app-country-card [countryData]="country" [imgPriority]="$index"></app-country-card>
      }
      }
    </div>
  </div>
</div>
