<div class="countries-container">
  <div class="countries-hero">
    <div class="container hero-content">
      <div class="search-container fade-in">
        <div class="search-box smooth-transition">
          <lucide-icon name="search" class="search-icon"></lucide-icon>
          <input type="text" placeholder="Buscar país por nombre..." [value]="searchedName()"
            [(ngModel)]="searchedName" />
        </div>
        <div class="filter-box smooth-transition">
          <lucide-icon name="filter" class="filter-icon"></lucide-icon>
          <select aria-label="Filtrar países por continente" [(ngModel)]="selectedContinent">
            <option value="">Todos los continentes</option>
            <option value="Africa">África</option>
            <option value="Americas">América</option>
            <option value="Asia">Asia</option>
            <option value="Europe">Europa</option>
            <option value="Oceania">Oceanía</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="container countries-grid">
    @let filteredCountries =
    (countries() ?? [] | filterByName: searchedName()) | filterByContinent: selectedContinent();
    <div class="responsive-grid">
      @defer (on idle) {
      @for (country of filteredCountries; track country.cca3) {
      <app-country-card [countryData]="country" [imgPriority]="$index"
        [routerLink]="['/country', country.cca3]"></app-country-card>
      }
      } @placeholder {
      @for (item of skeletonCount; track $index) {
      <app-country-card-skeleton></app-country-card-skeleton>
      }
      }
    </div>
  </div>
</div>
