:root {
  /* TODO - Paleta de colores, espaciados, sombras, etc.  */
}

/* Reset de espaciado */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  /* TODO - colores de la app */
  /* background-color: ; */
  /* color: ; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
