<section class="reviews-section">
  <div class="section-header">
    <h2>Comparte tu opinión sobre: {{ country()?.translations?.spa?.common }}.</h2>
  </div>

  <div class="add-review-card shadow-sm">
    <div class="rating-input flex-align-center">
      <span class="font-bold">Tu valoración:</span>
      <div class="stars flex-align-center">
        @for (s of [1, 2, 3, 4, 5]; track s) {
        <lucide-icon name="star" [class.active]="s <= userRating()" (click)="userRating.set(s)"
          class="star-input smooth-transition"></lucide-icon>
        }
      </div>
    </div>

    <div class="textarea-wrapper">
      <textarea [(ngModel)]="userComment" placeholder="Cuéntanos tu experiencia..." rows="4" class="smooth-transition"
        style="resize: none;"></textarea>
      <!-- TODO mostrar errores de validación -->
    </div>

    <div class="form-actions">
      <button class="btn btn-primary smooth-transition w-full-mobile flex-align-center" [disabled]="submitting()"
        (click)="handleFormSubmit()">
        <lucide-icon [name]="submitting() ? 'loader-2' : 'send'" [class.animate-spin]="submitting()"
          class="icon-sm"></lucide-icon>
        <span>{{ submitting() ? 'Enviando...' : 'Publicar' }}</span>
      </button>
    </div>
  </div>

  <div class="comments-list">
    <div class="section-header">
      <h2>Reseñas</h2>
      <p class="text-muted">
        Opiniones reales de viajeros sobre {{ country()?.translations?.spa?.common }}.
      </p>
    </div>
    @for (review of reviews(); track review.id) {
    <div class="comment-item fade-in">
      <div class="comment-header flex-align-center">
        <div class="avatar-container">
          @if (review.user.avatar_url) {
          <img [ngSrc]="review.user.avatar_url || ''" alt="Avatar" loading="lazy" width="48" height="48" />
          } @else {
          <span>{{ review.user.username.toUpperCase() || 'U' }}</span>
          }
        </div>
        <div class="user-meta">
          <span class="username">{{
            review.user.username || 'Viajero anónimo'
            }}</span>
          <span class="date">{{ review.created_at | date: 'longDate' }}</span>
        </div>
        <div class="comment-rating flex-align-center shadow-sm">
          <lucide-icon name="star" class="star-icon"></lucide-icon>
          <span>{{ review.rating }}</span>
        </div>
      </div>
      <p class="comment-text">{{ review.comment }}</p>
    </div>
    } @empty {
    <div class="empty-comments fade-in">
      <lucide-icon name="message-square-dashed" class="empty-icon"></lucide-icon>
      <p>Sé el primero en compartir tu experiencia.</p>
    </div>
    }
  </div>
</section>
